.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
}

.primary {
  padding: 0 1rem;
}

#modal-switch:checked + .modal {
  display: flex;
}
.modal {
  display: none;
}
label[for="modal-switch"]:before {
  font-size: 2rem;
  content: "☂";
}
#modal-switch,
label[for="modal-switch"] span {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

@media (min-width: 1024px) {
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  .header {
    width: 100%;
  }
  .menu {
    width: 100%;
  }
  .primary {
    width: 70%;
  }
  .secondary {
    width: 30%;
  }
  .footer {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .primary {
    width: calc(100% - 300px);
  }
  .secondary {
    width: 300px;
  }
}
